<div class="page-heading col-md-12">
    <ul>
    <!--<li >{{'APP.LABEL_FEATURE.WORKSPACE' | translate}}</li>-->
    <li class="nav-item" routerLinkActive="active" >
      <a routerLink="/deals-dashboard" class="nav-link" >{{'APP.LABEL_FEATURE.DEALS_VIEW' | translate}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/user-dashboard" class="nav-link" >{{'APP.LABEL_FEATURE.USER_VENDOR_VIEW' | translate}}</a>
    </li>
    </ul>



</div>
