<div class="card">
    <app-loading-spinner [loading] = "loading"></app-loading-spinner>
  <div class="card-body">
    <h4 class="card-title">{{'APP.SECTION.USERS_MONTHS' | translate}}</h4>
      <div *ngIf="!loading && !isError; else errorTemplate">
        <google-chart style="width:100%"
          [title]="chart.title"
          [type]="chart.type"
          [data]="chart.data"
          [columnNames]="chart.columnNames"
          [roles]="chart.roles"
          [options]="chart.options"
          (ready)="onReady()"
          [dynamicResize]="true"
          (select)="onSelect($event)"
          (error)="onError($event)"
          (mouseenter)="onMouseEnter($event)"
          [dynamicResize]="true"
          (mouseleave)="onMouseLeave($event)">
        </google-chart>
        </div>
        <ng-template #errorTemplate>

              <div class="errorBlock" *ngIf="isError">
                <h2 class="errorMessage"><i class="fa-exclamation-triangle"></i>{{errorMessage}}</h2>
              </div>

        </ng-template>
  </div>
</div>
