<div class="card">
  <div class="card-body">
    <h4 class="card-title">Cost change</h4>
    <div class="chart btn-container float-left mr-5">
      <button class="btn secondary" [ngClass]="{'current': !isPercentageButton}" (click)="showUnitCostPercentage(false)">Unit cost</button>
      <button class="btn secondary" [ngClass]="{'current': isPercentageButton}"(click)="showUnitCostPercentage(true)">Unit cost %</button>
    </div>
    <div class="chart select-container float-left">
      <span class="select-arrow fa fa-angle-down"></span>
      <select>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
          <option>2019</option>
      </select>
    </div>
    <div style="height:400px;">
      <ngx-charts-line-chart
          [view]=""
          [scheme]="colorScheme"
          [results]="chartData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [timeline]="timeline"
          [legendTitle]="legendTitle"
          [legendPosition]="legendPosition"
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>
  </div>
</div>
<!--  [activeEntries]="activeEntries"-->
