	/* http: //meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126 License: none (public domain) */
	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video,
	button {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}


	/* HTML5 display-role reset for older browsers */

	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol,
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	blockquote,
	q {
		quotes: none;
	}

	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	.dropdown-menu{
		border-radius: 0;
		padding: 0;
		margin: 0;
		font-size: inherit;
	}
	/*reset css completed*/

	/*IBM fonts declaration*/

	@font-face {
        font-family: IBMPlexSans-Bold;
        src: url(assets/fonts/IBMPlexSans-Bold.ttf);

    }
    @font-face {
        font-family: IBMPlexSans-Bold;
        src: url(assets/fonts/IBMPlexSans-Bold.ttf);

    }
    @font-face {
        font-family: IBMPlexSans-ExtraLight;

        src: url(assets/fonts/IBMPlexSans-ExtraLight.ttf);

    }
    @font-face {
        font-family: IBMPlexSans-ExtraLightItalic;

        src: url(assets/fonts/IBMPlexSans-ExtraLightItalic.ttf);

    }
    @font-face {
        font-family: IBMPlexSans-Italic;

        src: url(assets/fonts/IBMPlexSans-Italic.ttf);

    }
    @font-face {
        font-family: IBMPlexSans-Light;

        src: url(assets/fonts/IBMPlexSans-Light.ttf);

    }
    @font-face {
        font-family: IBMPlexSans-LightItalic;

        src: url(assets/fonts/IBMPlexSans-LightItalic.ttf);

    }
     @font-face {
        font-family: IBMPlexSans-Medium;

        src: url(assets/fonts/IBMPlexSans-Medium.ttf);

    }
     @font-face {
        font-family: IBMPlexSans-MediumItalic;

        src: url(assets/fonts/IBMPlexSans-MediumItalic.ttf);

    }
     @font-face {
        font-family: IBMPlexSans-Regular;

        src: url(assets/fonts/IBMPlexSans-Regular.ttf);

    }
    @font-face {
        font-family: IBMPlexSans-SemiBold;

        src: url(assets/fonts/IBMPlexSans-SemiBold.ttf);

    }
     @font-face {
        font-family:IBMPlexSans-SemiBoldItalic;
        src: url(assets/fonts/IBMPlexSans-SemiBoldItalic.ttf);
	}
	/*IBM fonts end*/

	/* You can add global styles to this file, and also import other style files */

	.navbar {
		margin-bottom: 50px;
		border-radius: 0;
	}


	/* Remove the jumbotron's default bottom margin */

	.jumbotron {
		margin-bottom: 0;
	}


	/* Add a gray background color and some padding to the footer */

	footer {
		background-color: #f2f2f2;
		padding: 25px;
	}

	.page-heading {
		float: left;
	}


	/*general css starts*/
	body{
		font-family: IBMPlexSans-Regular, Arial, Helvetica, sans-serif;
		font-size: 14px;
	}
	.main-wrapper p,
	.main-wrapper span {
		margin: 0;
		padding: 0;
	}

	.main-wrapper {
		float: left;
		background: rgb(224, 224, 224);
		padding: 20px 20px 50px 20px
	}

	h3,h4{font-size: 16px; font-weight: 700; color: #333;}

	/*standard elements styles starts*/
	select{ min-width: 175px;}
	input{min-width: 250px;}
	.btn{
		height: 30px;
		padding: 0 20px;
		-webkit-appearance: none;
		appearance: none;
		display: inline-flex;
		align-items: center;
		border-radius: 0;
		border: none;
	}
	.btn.disabled,
	.btn:disabled{ opacity: 1;}
	.btn.primary{
		background: #2d74da;
		border: 2px solid #2d74da;
		color: #fff;
	}
	.btn.secondary{
		background: #fff;
		border: 2px solid #2d74da;
		color: #2d74da;
	}
	.btn.secondary.current{
		background: #2d74da;
		color: #fff;
	}
	.btn.disabled {
		border: 1px dashed #777677;
		background: transparent;
		color: #777677;
	}
	.btn.active {
		background: #2d74da;
		color: #fff;
	}
	select, input{
		border: 1px solid #777677!important;
		height: 30px;
		-webkit-appearance: none;
		appearance: none!important;
		padding: 0 10px;
		color: #595859;
		font-size: 14px;
		display: inline-flex;
		align-items: center;
		border-radius: 0!important;
		min-width: 275px;
		width: auto!important;
	}
	select:hover, input:hover,
	select:focus, input:focus{
		border: 1px solid #2d74da!important;

	}
	.select-container{
		position: relative;
	}
	.select-arrow {
		position: absolute;
		top: 4px;
		right: 4px;
		width: 22px;
		height: 22px;
	}
	.select-container .fa-angle-down{
		font-size: 25px;
		color: #595859;
	}
	select::-ms-expand {
		display: none;
		}
		select:focus::-ms-value {
			background-color: white;
			color:#595859;
	}
	/*general css ends*/


	/*chart panel css starts*/

	.chart-wrapper{ margin: 0; padding: 0;}

	.chart-wrapper .card{
	padding: 20px;
	min-height: 508px;
	position: relative;
	}
	h4.card-title {
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
	.card-body{
		padding: 10px;
		position: relative;
	}
	.nav-link {
		padding: 0;
	}
	/*error styles*/
.errorMessage{
    color: #595859;
    font-size: 15px;
    font-family: IBMPlexSans-SemiBold, Arial, Helvetica, sans-serif;
    display: inline-flex;
    align-items: center;

  }
.errorBlock {
    width: 100%;
    padding: 0;
    text-align: left;
}
.errorMessage i:before {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
	margin-right:5px; 
	color: red;
    font-family: 'FontAwesome';
    display: inline-flex;
    align-items: center;
  
  }
  .errorBlock.ta-center {
    text-align: center;
}
	/*chart panel css ends*/
	@media (max-width: 768px){

		.col-md-4 {
			width: 100%;
		}
	}
