<div [class]="titleClass">
        <div class="title-bar d-flex align-items-center">

          <div class="dropdown">
            <a class="p-0" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="fa fa-bars"></i></a>


          </div>
          <!-- </button> -->
          <div class="title">{{'APP.TITLE' | translate}}</div>
        </div>

        <nav class="navbar-right">
          <div class="nav-bar-container">
            <ul class="navbar-nav-links">
              <li class="nav-item">
                <!-- fas fa-search -->
                <i class="fa fa-search"></i>
              </li>
              <li class="nav-item small-device-hide">
                <!-- far fa-bell -->
                <i class="fa fa-bell-o"></i>
                <em class="divider">|</em>
              </li>
              <li class="nav-item small-device-hide">
                <!-- far fa-user-circle -->
                <i class="fa fa-user-circle-o"></i>
                <span>Edward impsum</span>
              </li>


              <li class="nav-item small-device-hide">
                <!-- far fa-question-circle -->
                <i class="fa fa-question-circle-o"></i>
                <span>{{'APP.HELP' | translate}}</span>
              </li>
              <li class="nav-item small-device-show nine-dots-icon">
                <img src="assets/images/nine-dots.png" alt="More">
              </li>
              <li class="nav-item ibm-right-logo">
                <img src="assets/images/logo.png" alt="IBM" class="logo-icon">
              </li>
            </ul>

          </div>
        </nav>
      </div>
