.spinner-overlay{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    z-index: 9999999;
    top: 0;
    LEFT: 0;
    display: none;
}
.x1-loading-bee {
    z-index: 100000000;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    left: 50%;
    margin-left: -26px;
    height: 52px;
    width: 52px;

}
.x1-loading-bee .loading-bee-fill {
    fill: #2d74da;
}
@media (min-width: 768px) and (max-width: 1023px){

    .x1-loading-bee {
        margin-top: -32px;
        margin-left: -32px;
        height: 64px;
        width: 64px
    }
}
@media (min-width: 320px)  and (max-width: 768px){

    .x1-loading-bee {
        margin-top: -27px;
        margin-left: -27px;
        height: 54px;
        width: 54px
    }
}