<div class="main-wrapper col">
    <div class="container chart-wrapper col float-left">
     <div class="row">
         <div class="col-12 mb-4">
             <app-deals-monthly></app-deals-monthly>
           </div>
     </div>
 </div>
</div>
