<div class="main-wrapper col">
    <h3 class="page-title">Cost change history</h3>
    <!-- default item  drop down list section  starts-->

    <div class="row item-strip dropdown-list">
      <div class="item-strip-content white-bg row col">
        <span class="item-list col-5">
            <label>Item Number</label>
            <div class="select-container">
              <span class="select-arrow fa fa-angle-down"></span>
              <select name="item-list" [ngModel]="selectedItem"  (ngModelChange)="onItemChange($event)">
                  <option *ngFor="let item of itemList" [ngValue]="item">{{item.retailitemnumber}}</option>
              </select>
          </div>

        </span>
        <span class="col-7">
          <p><label class="description">Description:</label><span>{{selectedItem?.description}}</span></p>
        </span>

      </div>
      <div class="cta-add-item col-2" ><span class="cta-text" (click)="showSearchOption();" *ngIf="!showSearchControl && searchItemList.length <1"><i class="icon-add add"></i>Add item</span></div>
    </div>

    <!--default item  drop down list section ends-->

    <!--add item view strip starts-->
    <div  *ngIf="searchItemList.length>0">
        <app-cost-item  [searchItemList]="searchItemList" [showSearchControl]="showSearchControl"  (updateHome)="updateDashboard($event)"></app-cost-item>
    </div>
    <!--add item view strip ends-->

    <!--add item search strip starts-->
        <app-cost-item-search *ngIf="showSearchControl"  [searchItemList]="searchItemList" [showSearchControl]="showSearchControl" (updateHome)="updateDashboard($event)" [firstItem]="selectedItem" (currentSearch)="getCurrentSearchItem($event)" ></app-cost-item-search>
    <!--add item search strip ends-->

    <button  class="btn" [ngClass]="{'primary-button active': !disableCompare,'disabled' : disableCompare}"  [disabled]="disableCompare" (click)="compareChart()">Compare</button>

    <div class="errorBlock ta-center" *ngIf="isError">
      <h2 class="errorMessage"><i class="fa-exclamation-triangle"></i>{{errorMessage}}</h2>
    </div>


  <!-- Chart Section-->
    <hr class="hor-separator">
    <div class="container chart-wrapper col">
        <div class="row">
          <div class="col-5">
            <app-cost-change-number [chartItems]="chartItemList" [itemCode]="selectedItem.retailitemnumber"></app-cost-change-number>
          </div>
          <div class="col-7">
            <app-cost-change-unit></app-cost-change-unit>
          </div>
        </div>
    </div>

</div>
