.headerContainer{
    width: 100%;
    background: #343334;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.fa-bars{
    color: #fff;
    font-size: 20px;
    padding-right: 5px;
    vertical-align: middle;
  }
.headerContainer i{ color: #fff; margin-right: 5px;}
.title-bar {
    float: left;
    margin-top: 0;/*5px*/
}
nav.navbar-right {
    float: right;
    background: none;
}
ul.navbar-nav-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 40px;
    display: inline-flex;
}
li.nav-item {
    display: inline-flex;
    color: #fff;
    padding: 0 10px;
    align-items: center;

}
li.nav-item:last-child {
    margin-right: 0;
    padding-right: 0;
}
li.nav-item img{
    cursor: pointer;
}
.divider{
    font-style: normal;
    font-size: 16px;
    padding-left: 20px;
}
.result-data-container {
    /*padding: 20px;*/
    margin: 20px 0;
    padding-bottom: 1.5rem;
    width: 100%;
    background: #fff;
    display: inline-block;
}

.headerContainer .title{
    color: #fff;
    font-family: IBMPlexSans-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.title-bar button{
    width:auto;
    font-size: 18px;
    display: inline;
}
.title-bar .title{
    display: inline;
}
.nav-item i{
    font-size: 18px;/*20px*/
}
.nav-item .svg-inline--fa{
    font-size: 14px;
    cursor: pointer;
}
.nav-item span{
    font-family: IBMPlexSans-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.menu-bar{
    float: left;
    width: 100%;
    padding: 0 2%;
    background: #fff;
    position:fixed;
    top:2.6em;/*3.1em;*/
    z-index:99;
}
.menu-bar .navbar{
    float: left;
    width: 100%;
    background: #fff!important;
    color:#6f6e6f;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.menu-bar .navbar-expand-lg .navbar-collapse{
    padding-left: 0;
}
.menu-bar li.nav-item:first-child{
 padding-left: 0;
}
.menu-bar li.nav-item:first-child a{
    margin-left: 0;
}
.menu-bar .navbar a{
    color:#6f6e6f;
    float: left;
    margin: 0 5px;
}
.menu-bar .navbar a{
    border-bottom: 3px solid transparent;
}
.menu-bar .navbar a:hover, .menu-bar .navbar a:active, .menu-bar .navbar a:focus,.menu-bar .navbar .nav-item.active a{
    border-bottom: 3px solid #2d74da;
    text-decoration: none;
    /* font-weight: bold; */
}
.viewComponent {
    float: left;
    width: 100%;
    /* margin: 20px 0; */
    padding: 0 1rem;/*2%*/
    margin-top:75px;/*81px*/
}
@media (min-width:1366px){
    .viewComponent .container{
        /* max-width: 1380px; */
        background: white;
     }
}

.global-button{
    background: #2d74da;
    color: #fff;
    padding: 10px 20px;
    margin: 0;
    height: auto;
}
.global-button a{
    color: #fff;
}


.searchForUsersContainer{
    display: block;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 20px 0;
}


.checkbox-container{
    position: relative;
    display: inline-flex;
    margin: 0 10px;
}

.checkbox-style em {

    font-style: normal;
    font-family: arial;
    font-size: 16px;
    color: #595859;
}
/* Customize the label (the container) */
.checkbox-style  {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox-style  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 6px;
    left: 4px;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px solid #777677;
  }

  /* On mouse-over, add a grey background color */
  .checkbox-style:hover input ~ .checkmark {
    background-color: #fff;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox-style input:checked ~ .checkmark {
    background-color: #2d74da;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-style input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox-style .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .search-container{
      display: block;
  }
.dropdown .dropdown-menu{
  padding: 0;
}
.dropdown a{
  cursor:pointer;
  margin: 0;
  padding: .4rem 0.5rem;
}
.navbar-right .dropdown{
    border: solid 2px #fff;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
    line-height: 120%;
}
.navbar-right .dropdown-toggle::after {
    vertical-align: middle;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    top: 10px;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    top: 20px;
    opacity: 1;
}

  
  @media (max-width:1024px){
    .menu-bar .navbar a{
       /* font-size:12px;  */
    }
    .viewComponent .container{
        background: #fff;
    }

  }
  @media (min-width: 769px){
    .menu-bar .navbar-expand-lg .navbar-toggler{
        display: none;
    }
    .menu-bar .navbar-expand-lg .navbar-nav {

        flex-direction: row;
    }
    .menu-bar li.nav-item{
        padding: 0 4px;
    }
    .collapse:not(.show){
        display: block;
    }
}
 @media (min-width: 769px) and (max-width:991px){
    .menu-bar .navbar-nav {
       /*display: block;*/
       margin: 0 5px;
    }
    .menu-bar .navbar a{
        margin: 0;
        font-size: 13px;
    }
    .menu-bar li.nav-item:first-child a{
        margin: 0 2px;
    }
}

@media (max-width:655px){
    nav.navbar-right{
        float: left;
        width: 100%;
        margin-left: 15px;
        /* display: none; */
    }
    .menu-bar{
      top: 0;
      position:relative;
    }
    .viewComponent{
      margin-top: 0;
        /* position: relative; */
        top:36px;
    }
    /* .viewComponent{margin-top:0;} */
    .menu-bar .navbar a{
        margin: 0;
    }
}
@media (max-width:768px){
  /* .viewComponent{margin-top:0;} */
  .menu-bar .navbar a{
      margin: 0 2px;
  }

    nav.navbar-right li.nav-item{
        padding: 0 3px 5px 3px;
    }
    .menu-bar li.nav-item:first-child{
        padding: 0 10px;
    }
    .menu-bar .navbar-light .navbar-toggler{
       /* position: absolute;
       top: 10px;
       left: 0; */
       border: 1px solid #777677;
       width: 36px;
       height: 22px;
       padding:0;
    }
    .navbar{padding:.5rem 0;}
    .navbar-toggler-icon {
      width: 1em;
      height: 1em;
      vertical-align: top;
  }
    .menu-bar li.nav-item:first-child a{
        margin: 0 10px;
    }
    .divider{
        padding-left: 8px;
    }
    .menu-bar .navbar-nav{
        margin-top: 50px;
    }
    .menu-bar li.nav-item a{
        margin: 0 10px;
        }
}