<div [class]="titleClass">
        <div class="title-bar d-flex align-items-center">
          <!-- <button class="navbar-togglers" type="button" data-toggle="collapse"> -->
            <!-- fas fa-align-justify -->
          <div class="dropdown">
            <a class="p-0" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="fa fa-bars"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
              <li>
                <a class="dropdown-item nav-link" (click)="switchLanguage('en')">{{'APP.LANG.EN' | translate}}</a>
              </li>
              <li>
                <a class="dropdown-item nav-link" (click)="switchLanguage('fr')">{{'APP.LANG.FR' | translate}}</a>
                <ul class="dropdown">
                  <li><a class="dropdown-item nav-link" href="#">Level 2 Link 1</a></li>
                  <li><a class="dropdown-item nav-link" href="#">Level 2 Link 2</a></li>
                </ul>
              </li>
              <li><a  class="dropdown-item nav-link" (click)="switchLanguage('es')">{{'APP.LANG.ES' | translate}}</a></li>
            </ul>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
              <a  class="dropdown-item nav-link" (click)="switchLanguage('en')">{{'APP.LANG.EN' | translate}}</a>
              <a  class="dropdown-item nav-link" (click)="switchLanguage('fr')">{{'APP.LANG.FR' | translate}}</a>
              <a  class="dropdown-item nav-link" (click)="switchLanguage('es')">{{'APP.LANG.ES' | translate}}</a>
            </div> -->
          </div>
          <!-- </button> -->
          <div class="title">{{'APP.TITLE' | translate}}</div>
        </div>
    
        <nav class="navbar-right">
          <div class="nav-bar-container">
            <ul class="navbar-nav-links">
              <li class="nav-item">
                <!-- fas fa-search -->
                <i class="fa fa-search"></i>
              </li>
              <li class="nav-item">
                <!-- far fa-bell -->
                <i class="fa fa-bell-o"></i>
                <em class="divider">|</em>
              </li>
              <li class="nav-item">
                <!-- far fa-user-circle -->
                <i class="fa fa-user-circle-o"></i>
                <span>Edward impsum</span>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <a class="dropdown-toggle p-0" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a [routerLink]="['/profile',{userId:''}]" class="dropdown-item nav-link">{{'APP.LABEL_FEATURE.LOGIN' | translate}}</a>
                  <!--  <a [routerLink]="['/forgot-password-view']" class="dropdown-item nav-link">Forgot Password</a>
                    <a [routerLink]="['/reset-password']" [queryParams]="{ticket: ''}" class="dropdown-item nav-link">Reset
                      Password</a>
                    <a [routerLink]="['/dm-registration-view']" class="dropdown-item nav-link">DM Registration</a>
                    -->
                  </div>
                </div>
              </li>
    
              <li class="nav-item">
                <!-- far fa-question-circle -->
                <i class="fa fa-question-circle-o"></i>
                <span>{{'APP.HELP' | translate}}</span>
              </li>
              <li class="nav-item">
                <img src="assets/images/logo.png" alt="IBM" class="logo-icon">
              </li>
            </ul>
    
          </div>
        </nav>
      </div>
    