<div class="row item-strip search-item add-item" *ngFor="let searchItem of searchItemList;last as lastItem">
    <div class="item-strip-content white-bg row col">
      <span class="item-list col-5">
          <label>Item Number</label>
          <span>{{searchItem?.retailitemnumber}}</span>

      </span>
      <span class="col-7">
        <p><label>Description:</label><span>{{searchItem?.description}}</span></p>
      </span>

    </div>
    <div class="cta-add-item col-2">
      <i class="icon-remove remove" (click)="removeItem(searchItem)"></i>
      <i class="icon-add add" *ngIf="lastItem && !showSearchControl" (click)="showSearch()"></i>

    </div>
  </div>
