<div class="main-wrapper col">
  <div class="container chart-wrapper col float-left">
     <div class="row">
         <div class="col-12 mb-4">
             <!--<app-cost-monthly-submitted></app-cost-monthly-submitted>-->
           </div>

       <div class="col-lg-4 mb-4">
        <app-user-by-number></app-user-by-number>
      </div>

      <div class="col-lg-8 mb-4">
        <app-user-monthly></app-user-monthly>
      </div>
      <div class="col-lg-4 mb-4">
        <app-vendor-by-number></app-vendor-by-number>
      </div>

      <div class="col-lg-8 mb-4">
       <app-vendor-monthly></app-vendor-monthly>
      </div>

     </div>

 </div>
 </div>
