.page-heading{
    width:100%;
    float: left;
    background: #fff;
    padding: 0 20px;
    height: 40px;
    }

    .page-heading li{
        list-style: none;
        height: 40px;
        display: inline-flex;
        align-items: center;
        font-family: IBMPlexSans-Regular;
        font-size: 14px;
        color: #595859;
        padding: 0 20px;


    }
    .page-heading li:first-of-type{
        list-style: none;
        float: left;
        padding: 0 10px;
        text-align: center;
    }

    .page-heading li.active{
            border-bottom: 3px solid #2d74da;
            font-family: IBMPlexSans-Bold;
            pointer-events: none;
            }
            .page-heading li:hover{
                border-bottom: 1px solid #2d74da;
                }
