<div class="page-heading col-md-12">
    <ul>
    <li class="nav-item" routerLinkActive="active" >
      <a routerLink="/messagecenter" class="nav-link" >Message Center</a>
    </li>

    </ul>



</div>
