  <div class="card">
  <div class="card-body" *ngIf="itemHistoryFound; else errorTemplate" >
  <h4 class="card-title">Number of Cost Changes</h4>
  <div style="height:400px;">
  <ngx-charts-bar-vertical-2d
      [view]=""
      [scheme]="colorScheme"
      [results]="costChangeCountList"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [legendTitle]="legendTitle"
      [groupPadding]="groupPadding"
      [barPadding]="barPadding"
      [roundEdges]= "roundEdges"
      [legendPosition]="legendPosition"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical-2d>
  </div>
  </div>
  <ng-template #errorTemplate>
    <div class="card-body">
        <div class="errorBlock">
          <h2 class="errorMessage"><i class="fa-exclamation-triangle"></i>{{errorMessage}}</h2>
        </div>
    </div>
  </ng-template>
</div>
