<div class="row item-strip search-item add-item">
   <div class="item-strip-content white-bg row col">
     <span class="item-list col-5">
         <label>Item Number</label>

          <input [(ngModel)]="asyncSelected"
                 [typeahead]="dataSource"
                 (typeaheadLoading)="changeTypeaheadLoading($event)"
                 (typeaheadOnSelect)="typeaheadOnSelect($event)"
                 [typeaheadOptionsLimit]="10"
                 typeaheadMinLength	="3"
                 (typeaheadNoResults)="changeTypeaheadNoResult($event)"
                 placeholder="Search item No./UPC code"
                 class="form-control">
          <!--<div *ngIf="typeaheadLoading">Loading</div>
               typeaheadOptionField="retailitemnumber"
        -->
     </span>
     <span class="col-7">
       <p *ngIf="!isError && itemFound"><label>Description:</label><span> {{selectedItem.description}}</span></p>
       <div class="errorBlock" *ngIf="isError">
         <h2 class="errorMessage"><i class="fa-exclamation-triangle"></i>{{errorMessage}}</h2>
      </div>

     </span>

   </div>
   <div class="cta-add-item col-2">
     <i class="icon-remove remove" (click)="removeControl()"></i>
     <i (click)="addSearchItem()" class="icon-add add"  [ngClass]="{'disabled' : !isValidItem}" ></i></div>
 </div>
